<div class="flex-center">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <mat-label>user</mat-label>
          <input matInput id="identifier" type="text" formControlName="identifier" autocomplete="false" required />
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput id="password" type="password" formControlName="password" autocomplete="false" required />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <mat-error [ngClass]="{'error-visible': (loginStatus$ | async) === false}">
      wrong user or password
    </mat-error>
  </mat-card>
</div>

